<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:swarajkumarnsit@gmail.com">swarajkumarnsit@gmail.com</a></li>
	        		<li><a href="https://github.com/SWARAJkumar">Check out my github repositories</a></li>
				<li><a href="https://www.linkedin.com/in/swaraj-kumar-b49500102/">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
